/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#logo {
    width: 300px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #030403;
    color: #fff;
    font-family: 'Bitter', serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}


/*  Source https://codepen.io/glebkema/pen/daLzpL */
.show-neighbors {
    overflow: hidden;
}

.item__third:first-child, .item__third:last-child {
    display: none;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    display: block !important;
}


@media (min-width: 500px) {
    .carousel-indicators {
        margin-right: 25%;
        margin-left: 25%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        background: rgba(255, 255, 255, 0.3);
        width: 25%;
        z-index: 11; /* .carousel-caption has z-index 10 */
    }

    .carousel-inner {
        width: calc((100% - 2 * 25%) * 3);
        left: calc(3 * 25% - 100%);
    }

    .carousel-item-next:not(.carousel-item-left),
    .carousel-item-right.active {
        -webkit-transform: translate3d(33%, 0, 0);
        transform: translate3d(33%, 0, 0);
    }

    .carousel-item-prev:not(.carousel-item-right),
    .carousel-item-left.active {
        -webkit-transform: translate3d(-33%, 0, 0);
        transform: translate3d(-33%, 0, 0);
    }

    .item__third {
        display: block !important;
        float: left;
        position: relative; /* captions can now be added */
        width: 33.33333333%;
    }
}